<div style="position:fixed;height:100%;width:230px;background-color:#4BADCD;text-align:center;left:0px;top:0px">
  <div style="background-color:#FBF1DE;width:140px;height:140px;border-radius:70px;display:inline-block;margin-top:200px">
    <img [src]="imagePath" style="width:100px;height:100px;margin-top:20px">
  </div>
  <div style="position:fixed;bottom:0px;width:230px">Icons made by
    <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
     from
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
  </div>
</div>
<div class="container">
  <br>
  <div style="border-bottom: 6px solid #676076;">
    <p style="font-size:25px;margin:0px">로그인</p>
  </div>
  <br><br>

  <div style="text-align:center;">
    <div style="width:600px;height:400px;" class="login-area">
      <div class="form-row" style="padding:10px">
        <div style="text-align:left">
          <label style="">학번</label>
          <input type="text" class="form-control"
          style="border: solid #4BADCD;" [(ngModel)]="id">
        </div>
      </div>
      <div class="form-row" style="padding:10px;color:#7F6966;">
        <div style="text-align:left">
          <label style="">비밀번호</label>
          <input type="password" class="form-control"
          style="border: solid #4BADCD;" [(ngModel)]="pw">
        </div>
      </div>
      <div style="margin-top:50px">
        <div style="display:inline">
          <button type="button" class="mini-button"
          (click)="btnClick()">로그인</button>
        </div>
      </div>
    </div>
  </div>
</div>
