<div style="position:fixed;height:100%;width:230px;background-color:#4BADCD;text-align:center;left:0px;top:0px">
  <div style="background-color:#FBF1DE;width:140px;height:140px;border-radius:70px;display:inline-block;margin-top:200px">
    <img [src]="imagePath" style="width:100px;height:100px;margin-top:20px">
  </div>
  <div style="padding:10px">
    <p style="color:#FBF1DE;font-size:20px">{{this.student_id}}</p>
    <a style="color:#FBF1DE;font-size:15px" [routerLink]="['/changepw']">비밀번호 수정</a>
  </div>
  <div style="position:fixed;bottom:0px;width:230px">Icons made by
    <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
     from
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
  </div>
</div>

<div class="container">
  <br>
  <div style="border-bottom: 6px solid #676076;">
    <p style="font-size:25px;margin:0px">문제 목록</p>
  </div>
  <br>
  <table class="table" style="text-align:center">
    <thead>
      <tr>
        <th scope="col" style="text-align:center">No.</th>
        <th scope="col" style="text-align:center">제목</th>
        <th scope="col" style="text-align:center">체점</th>
        <th scope="col" style="text-align:center"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of tasks">
        <td>{{t.task_no}}</td>
        <td>{{t.title}}</td>
        <td><a [routerLink]="['/submit', t.task_id]"
          style="color:#AD8C94;font-weight:600">제출하기</a></td>
        <td *ngIf="t.pass>0" style="color:#6CC7D7;font-weight:600">PASS</td>
        <td *ngIf="t.pass==0" style="color:#FD595D;font-weight:600">FAIL</td>
        <td *ngIf="t.pass==null" style="font-weight:600">-</td>
      </tr>
    </tbody>
  </table>
</div>
