<!-- <div style="position:fixed;height:100%;width:230px;background-color:#FBADB8;text-align:center">
  <div style="background-color:#FBF1DE;width:140px;height:140px;border-radius:70px;display:inline-block;margin-top:200px">
    <img [src]="imagePath" style="width:100px;height:100px;margin-top:20px">
  </div>
  <p style="color:#FBF1DE;font-size:20px">{{this.id}}</p>
</div> -->
<div style="margin-left:230px">
<div style="background-color:white;height:130px;">
  <div class="container">
    <div style="color:white;font-size:50px;position:relative;top:50px;text-shadow: 2px 2px #F5F0C8;width:800px">
      <span style="color:#83D4E5"> C - </span>
      <span style="color:#4BADCD"> P R </span>
      <span style="color:#72B3D8"> A C </span>
      <span style="color:#4BADCD"> T I </span>
      <span style="color:#83D4E5"> C E </span>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
</div>


<!-- <div style="background-color:#C2E1E3;height:60px;text-align:center;">
  <span style="color:white;font-size:30px;position:relative;top:9px">
    <span style="color:#18AAAF"> C - </span>
    <span style="color:#57B5A1"> P R </span>
    <span style="color:#78AAC2"> A C </span>
    <span style="color:#57B5A1"> T I </span>
    <span style="color:#18AAAF"> C E </span>
  </span>
</div> -->
